# Python
backend/venv/
backend/__pycache__/
*.pyc

# Environment Variables
backend/.env

# Flask
instance/
.pytest_cache/

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Node
frontend/node_modules/